body {
  background-color: aqua;
  color: azure;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  animation: rotation 6s infinite linear;
}
.nav {
  background-color: deepskyblue;
  padding: 10px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Chewy', cursive;
}
.chooseCategory {
  background-color: black;
  color: antiquewhite;
  width: 500px;
  padding: 20px;
  display: none;
  flex-direction: column;
}

.choose {
  color: antiquewhite;
  margin: 20px;
  font-size: 50px;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.trivia {
  display: ; /*Set Display to None*/
  padding: 10px;
  color: darkviolet;
}

/* Rotates Label*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*Fade In category*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
