body {
  background-color: aqua;
  color: azure;
  font-family: 'Fredericka the Great', cursive;
  width: 100%;
  text-align: center;
  margin: auto;
  background-image: none;
  background-size: auto 100%;
  background-position: center;
}
footer {
  display: none;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  animation: rotation 6s infinite linear;
}
.nav {
  background-color: deepskyblue;
  padding: 10px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Chewy', cursive;
}
.title {
  display: flex;
  justify-content: center;
}
.titleChange {
  color: darkred;
  background-color: darkgray;
  width: 35%;
  border: black 2px dashed;
}

.chooseCategory {
  background-color: black;
  color: antiquewhite;
  width: 500px;
  padding: 20px;
  display: none;
  flex-direction: column;
}

.choose {
  color: antiquewhite;
  margin: 20px;
  padding: 15px;
  font-size: 50px;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: all 300ms ease;
}
.choose:hover {
  background-color: blue;
  color: yellow;
  cursor: pointer;
}

.trivia {
  display: none; /*Set Display to None*/
  padding: 10px;
  color: darkviolet;
  align-items: center;
  flex-direction: column;
}
.question {
  background-color: aquamarine;
  width: 50%;
  width: 35%;
  border: black 5px dotted;
}

.answers {
  display: none;
  justify-content: space-around;
  padding: 10px;
}

.answer {
  margin: 10px;
  padding: 5px;
  background: antiquewhite;
  border: black 2px solid;
  transition: all 300ms ease;
}
.answer:hover{
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

img {
  width: 200px;
  height: 250px;
}

.margin {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 20px;
}
/* Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: lightcyan;
}

.modalContent {
  background-color: antiquewhite;
  margin: 15% auto;
  border: 1px solid lightsalmon;
  width: 75%;
  color: black;
  font-size: 20px;
}

.correctAnswer {
  font-size: 30px;
  font-weight: bold;
}
/* Close */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: blueviolet;
  text-decoration: none;
  cursor: pointer;
}
/* Rotates Label*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*Fade In category*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */
/*Mobile */
@media screen and (max-width: 600px) {
  div.logo {
    display: none !important;
  }

  section.nav {
    margin: 0;
    padding: 0px;
  }

  h1 {
    font-size: 50px;
  }

  section.trivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }

  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game {
    flex-direction: column !important;
  }
}

/*Tablet */
@media screen and (min-width: 575px) and (max-width: 991px) {
  h1 {
    font-size: 75px;
  }

  section.answers {
    display: none;
    flex-direction: column;
    align-items: center;
  }
}

/*Desktop */
@media screen and (min-width: 992px) {

}
